/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

body header#site_header {
  background-color: #ff8523;
  padding: 20px 0 35px 19px;
}

body .main_navigation {
  padding-top: 17px;
}

.main_navigation a {
  border: solid 1px;
  border-radius: 5px;
  border-color: white;
  padding: 8px 30px;
  margin-top: 10px;
  text-decoration: none;
  color: white;
}
